@font-face {
  font-family: "BeStrong";
  src: url("../FONTS/be-strong.regular.otf");
}

@font-face {
  font-family: "Neris";
  src: url("../FONTS/Neris-Thin.otf");
}

body {
  background-color: #212121;
  width: 100%;
  height: 100vh;
}

.todo-nav {
  width: 100%;
  height: 80px;
  background-color: #313131;
  border-bottom: 1px solid #9f9f9f33;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  font-size: 32px;
  font-family: "BeStrong";
}

.todo-input-div {
  width: 100%;
  height: 60px;
  display: flex;
  font-family: "Neris";
}

.todo-input {
  height: 60px;
  width: calc(100% - 60px);
  box-sizing: border-box;
  border: none;
  background: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
}

.todo-input:focus {
  outline: none;
}

.todo-button {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 32px;
}

.todo-button:active {
  color: #ff0000;
}

.todo-list-div {
  height: calc(100vh - 81px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.todo-list {
  width: 100%;
}

.todo-list-item {
  width: 100%;
  height: 60px;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  border-bottom: 1px solid #9f9f9f33;
  font-family: "Neris";
  font-weight: bold;
}

.todo-list-item:nth-child(1) {
  border-top: 1px solid #9f9f9f33;
}

.todo-list-id {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.todo-delete {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  border:none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 20px;
}

.todo-delete:active {
  color: #ff0000;
}

.todo-description {
  height: 60px;
  width: calc(100% - 120px);
  vertical-align: middle;
  line-height: 60px;
  font-size: 20px;
}
